*{
    margin: 0;
    padding: 0;
}
.container{
    width: 46.7%;
    background-color: orange;
    height: 70px;
    margin-bottom: 7px;
    border: 1px solid black;
    margin-top: 10px;
}
.div{
    display: flex;
    gap: 10px;
}
#div1{
    background: greenyellow;
    width: 140px;
    height: 400px;
    text-align: center;
    border: 1px solid black;
}
#div2{
    background: rgba(255, 255, 0, 0.662);
    width: 500px;
    height: 400px;
    border: 1px solid black;
}
#div3{
    width: 180px;
    height: 400px;
    background-color: rgba(18, 129, 203, 0.768);
    text-align: center;
    border: 1px solid black;
}
.cont{
    background: rgba(89, 29, 117, 0.828);
    width: 46.7%;
    height: 70px;
    margin-top: 7px;
    border: 1px solid plum;
}
.section{
    margin-left: 10px;
}